@import url(reset.css);
/*http://ruseller.com/shporacss.php?id=2*/
/*http://html5.by/blog/flexbox/*/
/* Wrapper */

body

.wrapper {
	width: 1920px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

/* Header */
.header {
	width: 1920px;
	height: 120px;
	background: #888888;
}
.logo {
   	width: 87px;
	height: 87px; 
	padding: 3px;
    float: left;
}
.contacts ul{
    padding-left: 3px;
	padding-top: 10px;
	overflow: hidden;
	list-style: none;
}

.contacts li{
	text-align: left;
	text-decoration: none;
	color: white;
	font: bold 17px Arial, Verdana;
	padding:  0 0 20px 0;	
	}

/* Menu */

.menu{
    height: 30px;
    width: 1920px;
	background: url(../images/bg_2.png) no-repeat;
	clear: both;  /*отмена обтекания*/
	max-width: 2500px;
    box-shadow: 0 5px 18px #666666, 0 5px 5px #666666;
}

.menu ul {
	overflow: hidden;
	list-style: none;
}

.menu li {
	display: inline;
	padding-top: 4px;
}

.menu  a {
	padding: 0px 19px;
	text-decoration: none;
	color: white;
	font: bold 14px Arial, Verdana;
}

/* Page */

.page {
	width: 1920px;
	height: 814px;
	margin-top: 9px;
	display: flex;
	flex-flow: row nowrap;
}

/* Sidebars */
.sidebar_first {
	flex-basis: 180px;
	background: #999999;
	order: 1;
	align-self: stretch;
}

.sidebar_first ul {
	padding-left: 15px;
	padding-top: 17px;
	overflow: hidden;
	list-style: none;
}

.sidebar_first li {
	padding: 0px 0 15px 0;
}

.sidebar_first a {
	color: black;
	font: 14px Arial, Verdana;
	background: white;
	border-radius: 7px 0 0 7px ; /* закругление углов */
	padding: 6px 40px 6px 10px; /* внутренние отступы */
	text-decoration: none; 
}		

.content {
	flex-basis: 1560px;
	order: 2;
	align-self: stretch;	
}

.content ul {
	padding-top: 28px;
	padding-left: 28px;
	overflow: hidden;
	list-style: none;
}	
.content  li{
	padding: 0 0 0 25px;
	color: black;
	font: 14px Arial, Verdana;
	}

.my:first-letter{color: red;}

p {
padding: 0 0 10px 0;
}

.sidebar_second {
	flex-basis: 180px;
	background: #999999;
	order: 3;
	align-self: stretch;	
}


