@import url(reset.css);
/* Wrapper */
.wrapper {
	width: 1220px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

/* Header */
.header {
	width: 1220px;
	height: 133px;
	background: #888888;
}
.logo {
   	width: 85px;
	height: 85px; 
	float: left;
	padding:  5px 0 0 5px;
	box-shadow: 5px 5px 10px -1px black;
	 
}
.contacts {
    padding-left: 13px;
	padding-top: 1px;
	overflow: hidden;
}

.contacts h1, .contacts p{
	overflow: hidden;
	list-style: none;
	text-decoration: none;
	color: white;
	font: bold 18px Arial, Verdana;
}
.contacts p{padding-top: 48px;}

/* Menu */

.menu{
	margin-top: 0px;
	clear: both; 
	height: 30px;
    width: 1220px;
	background: url(../images/bg_2.png) no-repeat;
	 
	max-width: 2500px;
    box-shadow: 0 5px 18px #666666, 0 5px 5px #666666;
}

ul {
	display: block;
	list-style: none;
}

.nav li {
    float: left;
    position: relative;
	font: bold 14px Arial, Verdana;
	padding: 0px 25px 0 0;
}

.nav li a {
    display: block;
    color: white;
	padding: 6px;
    text-decoration: none;
}

.nav  li a:hover {
    background-color: white;
	color: black;
}

.subnav {
    display: none;
	position: absolute;
	background-color: #999999;
    width: 150px;
    box-shadow: 5px 5px 8px -1px black;
	z-index: 200;
	}

.subnav li a {
    display: block;
    color: white;
    text-decoration: none;
}

.subnav li a:hover {text-decoration: underline;}

.nav li:hover .subnav {display: block;}


/* Page */

.page {
	width: 1220px;
	height: 814px;
	margin-top: 9px;
	display: flex;
	flex-flow: row nowrap;
}

/* Sidebars */
.sidebar_first {
	display: inline-block;
	flex-basis: 180px;
	background: #999999;
	order: 1;
	align-self: stretch;
}

.sidebar_first ul {
	padding-left: 15px;
	padding-top: 79px;
	overflow: hidden;
	list-style: none;
}

.nav_left li {
    float: left;
    position: relative;
	padding: 0 0 5px 0;
	
}

.nav_left li a {
	display: block;
	background: white;
    color: black;
	font: 14px Arial, Verdana;
	text-decoration: none;
	border-radius: 7px 0 0 7px ; 
	padding: 6px 40px 6px 10px; 
	}

.nav_left  li a:hover {
    background-color: black;
	color: white;
}

.subnav_left {
    display: none;
	position: absolute;
    width: 70px;
	left: 153px;
	top: 0px;
	z-index: 100;
	background-color: black;
	text-decoration: none;
}

.subnav_left li a {
    display: block;
    padding: 6px;
    color: white;
    text-decoration: none;
}

.subnav_left li a:hover {text-decoration: underline;}

.nav_left li:hover .subnav_left {display: block;}


.content {
	display: inline-block;
	width: 50%; 
	flex-basis: 860px;
	order: 2;
	align-self: stretch;	
	background: white;
	font: 14px Arial, Verdana;
	color: black;
}

.content ul {
	padding-top: 28px;
	padding-left: 28px;
	overflow: hidden;
	list-style: none;
}	

.content  li{
	padding: 0 0 0 25px;
}

.my:first-letter{color: red;}

p {
padding: 0 0 10px 0;
}

.sidebar_second {
	display: inline-block;
	flex-basis: 180px;
	background: #999999;
	order: 3;
	align-self: stretch;	
}


